---
- name: Search
  hosts: STC,!DVSSTCSLG01
  tasks:
    - name: check if rsyslog is installed
      become: yes
      become_user: root
      apt:
        name: rsyslog
        state: latest

    - name: "Searching configuration"
      become: yes
      become_user: root
      tags: rsyslog
      lineinfile:
        path: /etc/rsyslog.conf
        line: "*.*     @10.32.36.249:514"
        state: present
      #       check_mode: yes
      register: presence
    #        failed_when: presence is changed
    - name: "Checking config if it is correct"
      debug: msg="Configuration is correct"
      when: presence is not changed

    - name: "Checking config if it is NOT correct"
      debug: msg="Configuration is NOT correct, log forwarding configuration"
      when: presence is changed

    - name: rsyslog restart
      become: yes
      become_user: root
      service:
        name: rsyslog
        state: restarted
        enabled: true
      when: presence is changed
